#form-container-design {
  height: 60%;
}
#message-output {
  flex: auto;
}
h1 {
  text-align: center;
}
.form-design {
  padding: 10px;
  margin-bottom: 50px;
  background: #8884c4;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}
input {
  border: none;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
}
textarea {
  border: none;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.label-design {
  text-decoration: underline;
  padding-bottom: 4px;
}
.submit-style {
  padding-top: 5px;
  max-width: 60px;
  align-self: center;
  text-align: left;
}
